{# PortfolioBundle/Resources/views/Portfolio/common/menu.html.twig #}

<ul>
	<li><a href="{{ path('pesh_portfolio_index') }}">Index</a></li>
	<li><a href="{{ path('pesh_portfolio_about') }}">About</a></li>
	<li><a href="{{ path('pesh_portfolio_cv') }}">CV</a></li>
	<li><a href="{{ path('pesh_portfolio_veille') }}">Veille</a></li>
	<li><a href="{{ path('pesh_portfolio_contact') }}">Contact</a></li>
</ul>

<hr/>