{# PortfolioBundle/Resources/views/Portfolio/common/menu.html.twig #}

<div class="nav">
	<div class="logo">
	    <a href="#">
	        <img alt="logo" src="{{ asset('bundles/peshportfolio/images/logo.png') }}" width="32" height="32">
	    </a>
	    <span>Yolan Behlouli - Portfolio</span>
	</div>
	<div class="links">
	    <ul>
	        <li><a href="{{ path('pesh_portfolio_index') }}">Index</a></li>
	        <li><a href="{{ path('pesh_portfolio_travaux') }}">Travaux</a></li>
	        <li><a href="{{ path('pesh_portfolio_competences') }}">Compétences</a></li>
	        <li><a href="{{ path('pesh_portfolio_veille') }}">Veille</a></li>
	        <li><a href="{{ path('pesh_portfolio_contact') }}">Contact</a></li>
	    </ul>
	</div>
</div>